.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td {
  cursor: pointer;
}

.initechNode {
  border: solid 3px red;
  border-radius: 3px;
  padding: 5px;
  width: 150px;
  display: inline-block;
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 3px red
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 3px red;
}

.female-node {
  background-color: aqua;
  display: inline-block;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

.male-node {
  background-color: coral;
  display: inline-block;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}
